[project]
	description = This is for library system smple
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bongbert
[access "refs/for/refs/*"]
	read = group user/bongbert
	push = group user/bongbert
	label-Code-Review = -2..+2 group user/bongbert
	label-Verified = -1..+1 group user/bongbert
	rebase = group user/bongbert
	removeReviewer = group user/bongbert
	submit = group user/bongbert
[access "refs/heads/*"]
	read = group user/bongbert
	create = group user/bongbert
	push = +force group user/bongbert
	pushMerge = group user/bongbert
[access "refs/tags/*"]
	push = +force group user/bongbert
	pushTag = group user/bongbert
	pushSignedTag = group user/bongbert
